/*All*/
/*---*/

* {
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width:100vw;  
}

body {
    height: 100vh;
    width:100vw;
    background: black;
}

.fa {
    color: #E3D3B8;
    display: inline-block;
}

.fa:hover {
  color: black;
  background: none;
  text-shadow: 0em 0em 0.5em white;
}

.fa:active {
  color: white;
  background: none;
}

.container {
  height: 88vh;
  width: 100vw;
}

.wrap {
  padding-top: 170px;
}

.width80 {
  width: 80%;
  margin: 0 auto;
  padding-top: 0;
}

/*Main Index.html*/
/*---------------*/

.header {
  height: 12.28em;
  width: 100%;
  background: black;    
}

header {
  height: 10.5em;
  width: 100%;
}

.headerTitle {
  height: 2.1em;
  width: 100%;
  text-align: center;
  color: #E3D3B8;
  font-size: 50px;
  font-family: 'Tangerine', cursive;
  text-shadow: 0.04em 0.05em rgba(245,233,245,0.51);
  margin-top: -1.25em
}

.header-bottom {
  height: 1em;
  width: 100%;
  min-width: 83em;
  background: black;
  border-top: 0.11em solid #E3D3B8;
  border-bottom: 0.55em solid #E3D3B8;
}

.nav {
  height: 4em;
  width: 100%;
  min-width: 83em;
  text-align: center;
}

.navBar {
  height: 100%;
  width: 3.9em;
  position: relative;
  top: -0.6em;
  display: inline-block;
  color: #E3D3B8;
  font-size: 3em;
  font-family: 'Tangerine', cursive;
  text-align: center;
  text-shadow: 0.04em 0.05em rgba(245,233,245,0.51);
}

.navBar:hover {
  background: none;
  color: black;
  text-shadow: 0.03em 0.03em 0em #E3D3B8;
}

.navBar:active {
  color: white;
  background: none;
}

.headerLinks {
  display: inline-block;
  height: 5em;
  width: 9em;
  position: relative;
  top: -2em;
  margin-left: 2em;
  font-size: 1em;
}

.search {
  height: 20px;
  width: 120px;
}

.backgroundContainer {
  height: 100%;
  width: 100%;
  background-color: black;
}

/*Home Page*/
/*---------*/

.home {
  height: 100%;
  width: 100%;
  background-image: url('https://c1.staticflickr.com/5/4056/4291142626_30f9e91c80_b.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
  overflow: overlay;
}

.home-text-container {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0em;
  left: 0em;
  overflow: overlay;
}

.homeText {
  height: 5em;
  width: 75%;
  color: white;
  text-align: center; 
  font-size: 3.5em;
  font-family: 'Tangerine', cursive;
  position: absolute;
  top: 0em;
  right: 50%;
  -webkit-transform: translate(50%, 0%);
  -ms-transform: translate(50%, 0%);
  transform: translate(50%, 0%);
  text-shadow: .05em .05em black;
  line-height: 135%;
}

.getQuoteButton {
  height: 2.5em;
  width: 7em;
  position: absolute;
  top: 9.5em;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);  
  border-top: 1px solid #000000;
  background: #E3D3B8;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: -webkit-linear-gradient(top, white, black);
  background: -o-linear-gradient(top, white, black);
  padding: 20px 40px;
  border-radius: 0px;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: black 0.04em 0.04em 0em;
  color: white;
  font-size: 3em;
  font-family: 'Tangerine', cursive;
  text-decoration: none;
  opacity: .85;
}

.getQuoteButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#E3D3B8));
  background: -webkit-linear-gradient(top, black, #E3D3B8);
  background: -o-linear-gradient(top, black, #E3D3B8);
  box-shadow: white 0 1px 0;
  text-shadow: white 0.03em 0.03em 0em;
  color: black;
}

.getQuoteButton:active {
  border-top-color: white;
  background: white;
  color: black;
}

.time {
  height: 1em;
  width: 10em;
  position: relative;
  top: 12.25em;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 3em;
  color: white;
}

.footer {
  height: 11em;
  width: 100%;
  display: block;
  background: black;
  text-decoration: none;
  border-top: 2px solid #E3D3B8;
}

.footerItem {
  height: 1.5em;
  width: 49%;
  position: relative;
  top: -0.4em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #E3D3B8;
  font-size: 3em;
  font-family: 'Tangerine', cursive;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.footerItem:hover {
  background: none;
  color: black;
  text-shadow: 0.03em 0.03em 0em #E3D3B8;
}

.footerItem:active {
  color: white;
  background: black;
}

.footerLinks {
  height: 2.5em;
  width: 100%;
  position: relative;
  top: -3.5em;
  display: inline-block;
  text-align: center;
  font-size: 1em;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 9999;
  bottom: 0em;
  left: 0em;
  background-color: #000000;
  opacity: 0.8;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  height: 15em;
  width: 15em;
  z-index:10000;
  position: absolute;
  bottom: 3em;
  left: 50%;
  background-color: #fff;
}

.ng-modal-close {
  position: absolute;
  top: 0em;
  right: 0.2em;
  cursor: pointer;
  font-size: 1em;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.ng-modal-dialog-content {
  text-align: center;
}

/*About Us page*/
/*-------------*/

.aboutUs {
  height: 100%;
  background: black;
  background-image: url(http://static.tumblr.com/bf4c92b6b9b217d3cf76e8ca51aefc00/xyrewae/rCRmvhg5w/tumblr_static_library-background4.jpg);   
  background-size: 100% 100%; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  color: white;  
  text-align: center;
  margin: -1.2em 0em 0em 0em;
  overflow: overlay;
}

.about-us-text {
  height: 80%;
  width: 100%;
  font-size: 2em;
  font-family: monospace;
  line-height: 165%;
  margin: -1em 0em 0em 0em;
}

/*Authors Page*/
/*============*/

.authors {
  height: 100%;
  background: black;
  background-image: url(http://darkrenaissance.com/wp-content/uploads/2013/04/drbimage.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
  overflow: overlay;
}

.authorsItem {
  height: 14em;
  width: 9em;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 5em 2em;
  box-shadow: 0em 0em 1em 1.5em rgba(245,233,245,0.51);
  margin: 0em 2.5em 12em 2.5em;
}

.authorImage {
  height: 14em;
  width: 9em;
  border: 0.75em outset #E3D3B8;
  margin-bottom: 2em
}

.authorImage:hover {
  color: darkcyan;
  background: none;
  height: 14.25em;
  width: 9.25em;
  opacity: .50;
}

.authorImage:active {
  color: white;
  background: none;
  height: 14.5em;
  width: 9.5em;
  opacity: .80;
}

.author-name {
  height: 100%;
  width: 100%;
  font-size: 1.1em;
  font-family: 'Tangerine', cursive;
  color: white;
  text-align: center;
  text-shadow: 0.1em 0.1em black;
}

/*Classics Page*/
/*-------------*/

.classics {
  height: 100%;
  width: 100%;
  background: black;
  background-image: url(http://i01.i.aliimg.com/wsphoto/v0/2048175971/8x12FT-Backdrop-Customize-Photography-Studio-Background-Curtain-Book-Shelf-Cupboard-Wedding-Portrait-Carpet-Wooden-Floor-Vinyl.jpg);
  background-size: 100% 141%;
  background-position: 0% 5%;
  background-repeat: no-repeat;
  overflow: overlay;
}

.classicsContainer {
  height: inherit;
  width: 50%;
  position: relative;
  margin: 0 auto;
}

.classicsItem {
  height: 4em;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 2em 2em 3em 2em;
  font-size: 4em;
  font-family: 'Tangerine', cursive;
  text-align: right;
}

.bookImage {
  height: 4em;
  width: 3em;
}

.bookImage:hover {
  height: 5em;
  width: 4em;
  color: darkcyan;
  background: black;
  opacity: .50;
}

.bookImage:active {
  height: 4em;
  width: 3em;
  color: white;
  background: black;
  opacity: .85;
}

/*Quotes Page*/
/*___________*/

.quotes {
  height: 100%;
  background: black;
  background-image: url(http://favim.com/orig/201108/19/book-shelves-books-dark-grain-library-Favim.com-126359.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  color: white;
  overflow: overlay;
  margin: -0.6em 0em 0em 0em;
}

.title {
  width: 100%;
  color: white;
  font-family: 'Tangerine', cursive;
  font-size: 75px;
  text-align: center;
  text-shadow: 0.01em 0.04em rgba(0, 0, 0, 9);
  margin-top: 10px;
  padding-top: 50px;
}

.quoteText {
  width: 95%;
  font-family: 'Tangerine', cursive;
  font-size: 3em;
  text-align: center;
  text-align: center;
  margin: 0 auto;
  text-shadow: 2px 2px black;
}

/*Contact Us Page*/
/*---------------*/

.contactUs {
  height: 100%;
  width: 100%;
  background: black;
  background-image: url(http://knowledgelost.files.wordpress.com/2011/07/cimg0491-oldbooks-02-q75-1932x1089.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  margin: -1.22em 0em 0em 0em;
  overflow: overlay;
}

.contact-us-container {
  height: 100%;
  width: 100%; 
}

.outerForm {
  height: 36em;
  width: 50em;
  background: black;
  opacity: .85;
  position: relative;
  margin: 0 auto;
  top: 0em;
  border: 0.5em solid #E3D3B8;
}

.innerForm {
  height: 75%;
  width: 75%;
  position: relative;
  top: 46%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  font-family: 'Tangerine', cursive;
  font-size: 1.8em;
  background: #E3D3B8;
  display: block;
  margin: 0 auto;
}

.inner-form-text-container {
  height: 13.5em;
  width: 100%;
  position: relative;
  top: 0.5em;
}

.formName {
  text-align: center;
  display: block;
}

.innerFormElement {
  display: block;
  margin: 0 auto;
}

.formSubmit {
  display: block;
  margin: 0 auto;
}

/*All*/
/*---*/

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.justify-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}