* {
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width:100vw;  
}

body {
    height: 100vh;
    width:100vw;
    background: black; 
}

.fa {
    color: #E3D3B8;
    display: inline-block;
}

.fa:hover {
    color: darkcyan;
    background: none;
}

.fa:active {
    color: white;
    background: none;
}

.container {
    height: 88vh;
    width: 100vw;
}

.wrap {
    padding-top: 170px;
}

.width80 {
  width: 80%;
  margin: 0 auto;
  padding-top: 0;
}

.header {
  height: 12.7em;
  width: 100%;
  background: black;    
}

header {
  border-bottom: 0.11em solid #E3D3B8;
}

.headerTitle {
  height: 2.1em;
  width: 100%;
  text-align: center;
  color: #E3D3B8;
  font-size: 50px;
  font-family: 'Tangerine', cursive;
  text-shadow: 4px 4px rgba(245,233,245,0.51);
  margin-top: -1.25em
}

.header-bottom {
    height: 1em;
    background: black;
    border-bottom: 0.55em solid #E3D3B8;
}

.nav {
  height: 4em;
  width: 100%;
  text-align: center;
}

.navBar {
    height: 100%;
    width: 3.9em;
  position: relative;
  top: -0.6em;
    display: inline-block;
    color: #E3D3B8;
    font-size: 3em;
    font-family: 'Tangerine', cursive;
    text-align: center;
    text-shadow: 3px 3px rgba(245,233,245,0.51);
}

.navBar:hover {
  background: none;
  color: darkcyan;
}

.navBar:active {
  color: white;
  background: none;
}

.headerLinks {
  display: inline-block;
  height: 5em;
  width: 9em;
  position: relative;
  top: -2em;
  margin-left: 2em;
  font-size: 1em;
}

.search {
  height: 20px;
  width: 120px;
}

/*Home Page*/
/*---------*/

.backgroundContainer {
  height: 88%;
  width: 100%;
  background-image: url('https://c1.staticflickr.com/5/4056/4291142626_30f9e91c80_b.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.homeText {
  color: white;
  text-align: center; 
  font-size: 3.5em;
  font-family: 'Tangerine', cursive;
  position: absolute;
  top: 0em;
  right: 50%;
  transform: translate(50%, 0%);
  text-shadow: .05em .05em black;
}

.getQuoteButton {
  height: 2.5em;
  width: 7em;
  position: absolute;
  top: 14em;
  left: 50%;
  transform: translate(-50%, 0%);  
  border-top: 1px solid #000000;
  background: #02b036;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(darkcyan));
  background: -webkit-linear-gradient(top, white, darkcyan);
  background: -moz-linear-gradient(top, white, darkcyan);
  background: -ms-linear-gradient(top, white, darkcyan);
  background: -o-linear-gradient(top, white, darkcyan);
  padding: 20px 40px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 3em;
  font-family: 'Tangerine', cursive;
  text-decoration: none;
/*  vertical-align: middle;*/
  opacity: .85;
}

.getQuoteButton:hover {
  border-top-color: #b2bfb4;
  background: #b2bfb4;
  color: #ffffff;
}

.getQuoteButton:active {
  border-top-color: #218c25;
  background: #218c25;
}

.time {
  height: 1em;
  width: 10em;
  position: relative;
  top: 2em;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 3em;
  color: white;
}

.footer {
    height: 14em;
    width: 100%;
    display: block;
    background: black;
    text-decoration: none;
    border-top: 2px solid #E3D3B8;
}

.footerItem {
    height: 1.5em;
    width: 49%;
  position: relative;
  top: -0.4em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: gray;
    font-size: 3em;
    font-family: 'Tangerine', cursive;
    align-content: center;
}

.footerItem:hover {
    background: black;
    color: darkcyan;
}

.footerItem:active {
    color: white;
    background: black;
}

.footerLinks {
  height: 2.5em;
  width: 100%;
  position: relative;
  top: -3.5em;
  display: inline-block;
  text-align: center;
  font-size: 1em;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
/*  top:43%;*/
  left:0px;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
    z-index:10000;
    position: absolute;
    width: 50%; /* Default */
    height: 13em;
    /* Center the dialog */
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
    padding:0.5em;
    text-align: center;
}

.ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
}

/*About Us page*/
/*-------------*/

.aboutUs {
    height: 100%;
    background: black;
    background-image: url(http://static.tumblr.com/bf4c92b6b9b217d3cf76e8ca51aefc00/xyrewae/rCRmvhg5w/tumblr_static_library-background4.jpg);   
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    color: white;  
    text-align: center;
/*    font-size: 30px;*/
/*    font-family: 'Tangerine', cursive;*/
}

.about-us-text {
  font-size: 4.5em;
  font-family: monospace;
  line-height: 165%;
}

/*Authors Page*/
/*============*/

.authors {
    height: 100%;
    background: black;
    background-image: url(http://darkrenaissance.com/wp-content/uploads/2013/04/drbimage.jpg);
    background-size: cover;
  background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
  overflow: overlay;
}

.authorsItem {
    height: 14em;
    width: 9em;
    display:flex;
    flex-direction: column;
    margin: 5em 2em;
    -webkit-box-shadow: 0em 0em 1em 1.5em rgba(245,233,245,0.51);
    -moz-box-shadow: 0em 0em 1em 1.5em rgba(245,233,245,0.51);
    box-shadow: 0em 0em 1em 1.5em rgba(245,233,245,0.51);
  margin: 2em 3em 13em 3em;
}

.authorImage {
    height: 14em;
    width: 9em;
    border: 0.75em outset #E3D3B8;
}

.authorImage:hover {
    color: darkcyan;
    background: none;
    height: 14.25em;
    width: 9.25em;
    opacity: .50;
}

.authorImage:active {
    color: white;
    background: none;
    height: 14.5em;
    width: 9.5em;
    opacity: .80;
}

.author-name {
  height: 100%;
  width: 100%;
  font-size: 1.64em;
  font-family: 'Tangerine', cursive;
  color: white;
  text-align: center;
  text-shadow: 0.1em 0.1em black;
}

/*Classics Page*/
/*-------------*/

.classics {
    height: 100%;
  width: 100%;
    background: black;
    background-image: url(http://i01.i.aliimg.com/wsphoto/v0/2048175971/8x12FT-Backdrop-Customize-Photography-Studio-Background-Curtain-Book-Shelf-Cupboard-Wedding-Portrait-Carpet-Wooden-Floor-Vinyl.jpg);
    background-size: 83% 100%;
    background-repeat:repeat-x;
  overflow: overlay;
/*    background-attachment: fixed;*/
/*    align-content: center;*/
}

.classicsContainer {
  height: inherit;
  width: 50%;
  position: relative;
  margin: 0 auto;
  
}

.classicsItem {
  height: 4em;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 2em 2em 3em 2em;
    font-size: 4em;
    font-family: 'Tangerine', cursive;
    text-align: right;
}

.bookImage {
    height: 4em;
    width: 3em;
}

.bookImage:hover {
    height: 5em;
    width: 4em;
    color: darkcyan;
    background: black;
    opacity: .50;
}

.bookImage:active {
    height: 4em;
    width: 3em;
    color: white;
    background: black;
    opacity: .85;
}

/*Quotes Page*/
/*___________*/

.quotes {
    height: 100%;
    background: black;
    background-image: url(http://favim.com/orig/201108/19/book-shelves-books-dark-grain-library-Favim.com-126359.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
/*    background-attachment: fixed;*/
  background-position: center;
    color: white;
    
  overflow: overlay;
}

.title {
  width: 100%;
    color: white;
    font-family: 'Tangerine', cursive;
    font-size: 75px;
    text-align: center;
    text-shadow: 4px 4px rgba(245,233,245,0.51);
    margin-top: 10px;
    padding-top: 50px;
}

.quoteText {
  width: 100%;
  font-family: 'Tangerine', cursive;
    font-size: 3em;
    text-align: center;
  text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 15px;
    text-shadow: 2px 2px black;
}

/*Contact Us Page*/
/*---------------*/

.contactUs {
    height: 100%;
    min-height: 800px;
  width: 100%;
    background: black;
    background-image: url(http://knowledgelost.files.wordpress.com/2011/07/cimg0491-oldbooks-02-q75-1932x1089.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.contact-us-container {
  height: 100%;
  width: 100%;
}

.outerForm {
    height: 52em;
    width: 65em;
    background: black;
    opacity: .85;
/*    display: flex;*/
/*    justify-content: center;*/
    position: relative;
   margin: 0 auto;
  top: 9em;
  border: 0.5em solid #E3D3B8;
}

.innerForm {
  height: 75%;
  width: 75%;
  position: relative;
  top: 50%;
  transform: translate(0%, -57%);
    font-family: 'Tangerine', cursive;
    font-size: 3em;
    background: #E3D3B8;
    display: block;
    margin: 0 auto;
  
}

.inner-form-text-container {
  height: 13.5em;
  width: 100%;
  position: relative;
  top: 0.5em;
}

.formName {
  text-align: center;
  display: block;
}

.innerFormElement {
  display: block;
  margin: 0 auto;
  
}

.formSubmit {
  display: block;
  margin: 0 auto;
}

/*All*/
/*---*/

.flex-row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}